@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: #CAD2C5;
}

.header {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    background-color: #CAD2C5;
    min-height: 150px;
    padding-bottom: 100px;
}

.header div {
    padding: 7px;
}

.title {
    width: 86%;
    height: 50px;
    position: relative;
}

.title h1 {
    font-size: 60px;
}

.title h2 {
    font-size: 40px;
    margin-top: -15px;
}

.title h3 {
    font-size: 25px;
    font-size: 20px;
}

.logo {
    width: 90px;
    height: 90px;
}

.account-box {
    width: 90px;
    height: 90px;
}

.account {
    width: 45px;
    height: 45px;
    margin-top: 15px;
    margin-left: 10px;
}

#background-cover {
    backdrop-filter: blur(3px) brightness(67%);
    border-radius: 10px;
}

h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 50px;

}

h2 {
    font-family: 'Amatic SC', cursive;
    font-style: bold;
    font-size: 30px;
}

h3 {
    font-family: 'poppins', sans-serif;

    margin-top: -10px;
    padding-bottom: 10px;
}

#icon-map {
    max-width: 25px;
}

.card {
    border-radius: 10px;

}

#background-cover {
    backdrop-filter: blur(3px) brightness(67%);
    border-radius: 10px;

}

#separation {
    margin-top: 70px;
    margin-bottom: 80px;

}

#button {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: auto;

}


/* liste de restaurants */
.box {
    width: 100%;
    background-color: #354F52;
    margin: 15px;
    border-radius: 15px;
}

.box br {
    margin: 2px;
}

.box img {
    width: 230px;
    height: 170px;
}

.uk-card-body {
    width: 100%;
}

#uk-flex {
    width: 100%;
}

/* SECTION MAP */
.map-section {
    display: flex;
    flex-direction: column;
}

.maps {
    text-align: center;
    margin: 50px;
}

.map {
    width: 50%;
}

.restaurants-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.restaurant {
    width: 60%;
    max-height: 200px;
    margin: 25px;
    display: flex;
    border: solid 0.2px black;
    border-radius: 15px;
    overflow: hidden;
}

.restaurant img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.infos {
    background-color: white;
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
}

.infos h3 {
    margin-top: 1px;
    font-weight: bold;
    color: black;
}

.title-star {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 25px;
}

.price-button {
    display: flex;
    justify-content: space-between;
}

.button {
    float: right;
    margin: 8px;
    background-color: #354F52;
    border-radius: 30px;
    width: 100px;
    height: 35px;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
}

.button:hover {
    color: black;
}

.star-icon {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}
.text{
    margin: 40px;
}
.text h2{
    font-size: 60px;
}
.text h3{
    font-size:20px;
}


/* cards */

.box-container{
    display: flex;
    justify-content: center;
}
.cards-box { 
    background-color: #354F52;
    width: 70%;
    border-radius: 15px;
    padding: 30px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#card {
    margin: 20px;
    background-color: white;
    flex: 0 0 25%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#card .infos {
    padding: 7px;
    margin-left: 20px;
}

#card .star-icon {
    margin-right: 40px;
}
.photos{
    width: 100%;
    height: 200px;
}
#card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 1400px, 1100px, 1023px, 767px */
/* @media screen and (max-width: 1400px) {
    body {
        background-color: #CAD2C5;
        height: 1080px;
    }

    h1 {
        font-family: 'Amatic SC', cursive;
        font-size: 50px;

    }

    h2 {
        font-family: 'Amatic SC', cursive;
        font-style: bold;
        font-size: 35px;
    }
} */