
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Poppins:wght@100&display=swap');

body {
    background-color: #CAD2C5;
}

.header {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    background-color: #CAD2C5;
    min-height: 150px;
    padding-bottom: 100px;
}

.header div {
    padding: 7px;
}

.title {
    width: 86%;
    height: 50px;
    position: relative;
}

.title h1 {
    font-size: 60px;
}

.title h2 {
    font-size: 40px;
    margin-top: -15px;
}

.title h3{
    font-size: 25px;
    font-size: 20px;
}

.logo{
    width: 90px;
    height: 90px;
}

.account-box {
    width: 90px;
    height: 90px;
}

.account {
    width: 45px;
    height: 45px;
    margin-top: 15px;
    margin-left: 10px;
}

h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 50px;

}

h2 {
    font-family: 'Amatic SC', cursive;
    font-style: bold;
    font-size: 30px;
}
h3{
    font-family: 'poppins', sans-serif;

    margin-top: -10px;
    padding-bottom: 10px;
}

#icon-map{
    max-width: 25px;
}
.card{
    border-radius: 10px;

}
#background-cover{
    backdrop-filter: blur(3px) brightness(67%);
    border-radius: 10px;

}
#separation{
    margin-top: 70px;
    margin-bottom: 80px;
    
}
#button{
    display: flex;
    justify-content:space-evenly;
    width: 100%;
    margin: auto;
   
}

/* COMPTE */

.formulaire{
    display: none;
    background-color: white;
    width: 30%;
    height: 750px;
    justify-content: right;
    float: right;
    text-align: center;
}
.formulaire h2{
    margin-top: 50px;
}
.sign-up{
    margin: 50px;
}
.sign-up a{
    margin-left: 20px;
}





/* liste de restaurants */

.uk-container {
    background-color: #354F52;
    border-radius: 15px;
    width: 70%;
}
    .box {
        width: 90%;
    }
.box br{
    margin:2px;
}
.box img{
   width: 230px;
   height: 170px;
}
.uk-card-body{
    width: 100%;
    }


/* SECTION MAP */
.map-section {
    display: flex;
    flex-direction: column;
}
.maps{
    text-align: center;
    margin: 50px;
}
.map {
    width: 50%;
}

.restaurants-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.restaurant {
    width: 60%;
    max-height: 200px;
    margin: 25px;
    display: flex;
    border: solid black;
    border-radius: 15px;
    overflow: hidden;
}

.restaurant img {
    width: 100%;
    height: 100%;
    object-fit  : cover;
}

.infos {
    background-color: white;
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
}
.infos h3{
    font-weight: bolder;
}
.title-star{
    display: flex;
    justify-content: space-between;
    height: 25px;
}
.price-button{
    display: flex;
    justify-content: space-between; 
}
.button{
    float: right;
    margin: 8px;
    background-color: #354F52;
    border-radius: 10px;
    width: 100px;
    height: 35px;
    color: white;
    font-weight: bold;
    text-align: center;
}
.button:hover{
    color: black;
}

.half-modal{
    width: 50%;
    height: 50%;
    background-color: white;
    border-radius: 10px;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* 1400px, 1100px, 1023px, 767px */
/* @media screen and (max-width: 1400px) {
    body {
        background-color: #CAD2C5;
        height: 1080px;
    }

    h1 {
        font-family: 'Amatic SC', cursive;
        font-size: 50px;

    }

    h2 {
        font-family: 'Amatic SC', cursive;
        font-style: bold;
        font-size: 35px;
    }
} */
